/* header section */

.container {
	margin: 0 auto;
	width: 90vw;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.logo {
	width: 300px;
	margin-top: 20px;
}

body {
	font-family: 'Lato', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.search_form {
	display: flex;
	margin-top: 20px;
}

.search_input {
	height: 50px;
	width: 100%;
	background-color: #e7e7e7;
	border: none;
	border-radius: 3px;
	padding-left: 20px;
}

.search_input::placeholder {
	color: #a29c9c;
}

.tag {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.open_tag {
	display: none;
	width: 8rem;
	border-radius: 3px;
	color: white;
	background-color: #3282f7;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	padding: 0.5rem 1rem;
	width: max-content;
}

.far.fa-times-circle {
	margin-left: 10px;
}
.filter {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.fas.fa-search {
	font-size: 25px;
	position: relative;
	align-self: center;
	right: 40px;
}
.ingredients {
	background-color: #3282f7;
}

.appareils {
	background-color: #68d9a4;
}

.ustenciles {
	background-color: #ed6454;
}

.filter_style {
	cursor: pointer;
	width: 120px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	color: white;
	height: 60px;
	border-radius: 3px;
	margin-right: 20px;
}

.open_drop {
	display: none;
	width: 42rem;
	padding: 0 10px;
	border-radius: 3px;
	margin-right: 20px;
	background-color: #3282f7;
	color: white;
	z-index: 2;
}

.open_drop_app {
	display: none;
	width: 42rem;
	padding: 0 10px;
	border-radius: 3px;
	margin-right: 20px;
	background-color: #68d9a4;
	color: white;
	z-index: 2;
}

.open_drop_ust {
	display: none;
	width: 42rem;
	padding: 0 10px;
	border-radius: 3px;
	margin-right: 20px;
	background-color: #ed6454;
	color: white;
	z-index: 2;
}

.filter_style_inside {
	display: flex;
	justify-content: space-between;
}

.filter_input {
	border: none;
	width: 80px;
	cursor: pointer;
}

.filter_input_drop {
	border: none;
	background-color: #3282f7;
	padding: 20px;
	font-size: 18px;
}

.filter_input_drop_app {
	border: none;
	background-color: #68d9a4;
	padding: 20px;
	font-size: 18px;
}

.filter_input_drop_ust {
	border: none;
	background-color: #ed6454;
	padding: 20px;
	font-size: 18px;
}

.filter_input_drop::placeholder {
	color: rgba(255, 255, 255, 0.693);
}
input::placeholder {
	color: white;
	opacity: 1;
}

.dropdown_ing {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	writing-mode: vertical-lr;
	padding: 20px 50px 0 0;
}

.dropdown_app {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	writing-mode: vertical-lr;
	padding: 20px 50px 0 0;
}

.dropdown_ust {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	writing-mode: vertical-lr;
	padding: 20px 50px 0 0;
}

li {
	padding: 0px 60px 20px 20px;
	writing-mode: horizontal-tb;
	cursor: pointer;
}

.fa-chevron-down {
	margin-left: 20px;
}

.fa-chevron-up {
	display: flex;
	align-items: center;
	margin-right: 20px;
	align-self: center;
}

.all_recipes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	margin-top: 20px;
}

.recipes {
	border-radius: 5px;
	background-color: #e7e7e7;
	height: 350px;
	margin-bottom: 20px;
}

.recipes_img {
	width: 100%;
	height: 50%;
	background-color: #c7bebe;
	border-radius: 5px 5px 0px 0px;
}

.recipes_text {
	display: flex;
	align-items: baseline;
	flex-direction: column;
	height: 50%;
	padding: 0 1rem;
}

.first_part {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}

.recipes_title {
	font-size: 15px;
	font-weight: 500;
}

.far {
	font-weight: bold;
}

.fa-clock::before {
	font-weight: initial;
	margin-right: 5px;
}

.second_part {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	height: 100%;
	font-size: 10px;
}

.list_ingredient {
	display: flex;
	flex-direction: column;
	width: 50%;
	font-weight: bold;
	padding: 0;
}

.ingredients_recipes {
	list-style: none;
	margin: 0;
	padding: 0;
}

.description_recipes {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	width: 50%;
}
